@import "bootstrap";

/* universal */

html {
  background: url("IMG_1583.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: scroll;
}

body {
  margin: 0; 
  padding: 0;
  text-align: center;
}
  
#content { 
  position: fixed;
  width: 700px;
  margin: 100px;
  h1 {
    color: white;
  }
}

#resume {
  margin-top: 80px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  h1 {
    margin-bottom: 10px;
  }
  ul {
    text-align: left;
  }
}

h1 {
  font-family: fantasy;
}

div.center.hero-unit {
  margin: 0px auto;
  background-color: transparent;
  h1 {
    color: white;
  }
}

/* header */

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
  font-family: fantasy;
  color: #FF7F50;

  &:hover {
    color: #E6E6FA;
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-family: fantasy;
  font-size: 1.7em;
  color: #FF7F50;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #E6E6FA;
  text-decoration: none;
}
